body {
    background-image: url(/img/bliss.jpg);
    background-size: cover;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

/*Desktop*/
.desktop {
    /**/
}

.desktop .desktopicon {
    text-align: center;
    width: 100;

    filter: drop-shadow(2px 2px 3px black);

    border-style: solid;
    border-width: 0px;
}

.desktop .desktopicon img {
    margin-top: 10px;
}

.desktop .desktopicon p {
    margin: 5px;
    font-size: 15px;
    color: white;
}

.desktop .desktopicon:hover {
    cursor: pointer;
    filter: drop-shadow(2px 2px 3px black) brightness(1.5);
}

.desktop .desktopicon:active {
    filter: drop-shadow(2px 2px 3px black) brightness(0.9);
}

/*Taskbar*/
.taskbar {
    position: fixed;
    left: 0;
    bottom: 0;

    height: 30px;
    width: 100%;

    
    background-image: url(/img/taskbar/taskbar1.png);
    
}

.taskbar #startmenu {
    content: url("/img/taskbar/start1.png");
}

.taskbar #startmenu:hover {
    content: url("/img/taskbar/start2.png");
    cursor: pointer;
}

.taskbar #startmenu:active {
    content: url("/img/taskbar/start3.png");
}