@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@font-face {
    font-family: 'Now Bold';
    src: url("fonts/now.bold.otf") format("opentype");
}


body {
    font-family: 'Montserrat', sans-serif;
}

.maintitle {
    font-family: 'Now Bold', sans-serif;
    color: rgba(1,74,173,1);
    text-shadow: 3px 3px rgba(202,108,230,1);
    text-decoration: none;
    transition: 0.5s;
}

.maintitle:hover {
    color: white;
    color: rgba(202,108,230,1);
    text-shadow: 5px 5px rgba(1,74,173,1);
}

.purplegradient {
    background: rgb(1,74,173);
    background: linear-gradient(90deg, rgba(1,74,173,1) 0%, rgba(202,108,230,1) 100%);
}

#links {
    text-align: center;
    margin: 10px;
}


.projetos {
    text-align: center;
    margin-bottom: 10px;
}

.projetos img {
    max-height: 130px;
    width: auto;
    margin: 5px;
}

.projectsbutton {
    background: white;
    color: black;
    transition: 0.5s;
}

.projectsbutton img{
    transition: 0.5s;
}

.projectsbutton:hover img{
    filter: brightness(0) invert(1);
}

.projectsbutton:hover{
    background: rgba(111, 93, 205,1);
    color: white;
}

.center {
    text-align: center;
    margin-bottom: 10px;
}

video {
    margin-bottom: 10px;
    max-height: 360px;
    min-height: 360px;
    width: auto;
}